-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%form{:class => "wee", :action => request.fullpath}
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", value = 1, checked = @ratings_filter && @ratings_filter[rating] ? true : false,
        :id => "ratings_#{rating}" 
  = submit_tag 'Refresh', :id => 'ratings_submit'
  %input{:class=>"test", :type=>"hidden", :value=>@sortBy, :name=>"sortBy"}

%table#movies
  %thead
    %tr
      %th{:class => (@sortBy == "title" ? "hilite" : nil)}= link_to "Movie Title", request.fullpath + "?sortBy=title", :id => "title_header"
      %th Rating
      %th{:class => (@sortBy == "releaseDate" ? "hilite" : nil)}= link_to "Release Date", request.fullpath + "?sortBy=releaseDate", :id => "release_date_header"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
